<article class="article item">

  <div class="item-main">
    <div class="item-main-header">
      <h3>{{item.Title}}</h3>
      <div class="item-main-header-meta">
        <span class="btn btn-not btn-color-b">
          <i class="fa btn-ic fa-clock-o"></i>
          {{item.Duration}}
        </span>
        <span class="btn btn-not btn-color-b">
          <i class="fa btn-ic fa-calendar"></i>
          {{item.CreationDate}}
        </span>
      </div>
    </div>
    <p class="item-main-description">
      {{item.Description}}
    </p>
  </div>

  <div class="item-control">
    <button
      class="btn item-control-el"
      (click)="edit()"
    >
      <i class="fa btn-ic fa-pencil"></i>
      Edit
    </button>
    <button
      class="btn item-control-el"
      (click)="delete()"
    >
      <i class="fa btn-ic fa-trash"></i>
      Delete
    </button>
  </div>

</article>
