<div class="courses-list row">
  <div class="courses-list-panel courses-list-el container">
    <button
      class="btn btn-a ic-plus"
      (click)="add($event)"
    >
      <i class="fa btn-ic fa-plus"></i>
      Add course
    </button>
  </div>
  <section class="courses-list-el container courses-list-main">
    <app-courses-list-item
      *ngFor="let course of courses; trackBy: trackByFn"
      [item]="course"
      [appRelevance]="course.creationDate"
      (deleteCourse)="delete($event)"
      (editCourse)="edit($event)"
    ></app-courses-list-item>
    <article class="article more" *ngIf="courses.length === 0">
      <h3>NO DATA, FEEL FREE TO ADD NEW COURSE</h3>
    </article>
    <article class="article more" *ngIf="isNext">
      <a (click)="more()">LOAD MORE</a>
    </article>
  </section>
</div>

