<header class="row panel">
  <div class="container">
    <a routerLink="" title="Go to main page" class="header-logo">
      <img src="./assets/logo.png"
           srcset="./assets/logo@2x.png 2x,
                 ./assets/logo@3x.png 3x"
           alt="VIDEO COURSE"
           width="137"
           height="32"
      />
    </a>
  </div>
  <section class="panel-right">
    <button *ngIf="isAuth === false" style="pointer-events: none;"
      routerLink="login"
      class="panel-right-el btn btn-color-parent">
      <i class="fa btn-ic fa-user"></i>
      Log in
    </button>
    <button *ngIf="isAuth === true"
      class="panel-right-el btn btn-color-parent"
      (click)="logOut()">
      <i class="fa btn-ic fa-sign-out"></i>
      Log off
    </button>
  </section>
</header>
