<main class="courses-list row">
  <div class="courses-list-panel courses-list-el container">
    <button
      class="btn btn-a ic-plus"
      (click)="addCourse()"
    >
      <i class="fa btn-ic fa-plus"></i>
      Add course
    </button>
  </div>
  <section class="courses-list-el container courses-list-main">
    <app-courses-list-item
      *ngFor="let course of courses; trackBy: trackByFn"
      [item]="course"
      [appRelevance]="course.CreationDate"
      (deleteCourse)="deleteCourse($event)"
      (editCourse)="editCourse($event)"
    ></app-courses-list-item>
    <article class="article more">
      <a href="/">LOAD MORE</a>
    </article>
  </section>
</main>

