<app-header
  (logIn)="logIn()"
  (logOff)="logOff()"
  [isAuth]="isAuthenticated"></app-header>

<main *ngIf="isPageLogin === false; else login">
  <app-breadcrumbs></app-breadcrumbs>
  <app-search
    (searchCourse)="searchCourse($event)"
  ></app-search>
  <app-courses-list
    [courses]="courses"
    (addCourse)="addCourse($event)"
    (deleteCourse)="deleteCourse($event)"
    (editCourse)="editCourse($event)"
  ></app-courses-list>
</main>
<ng-template #login>
  <app-modal-box></app-modal-box>
</ng-template>

<app-footer></app-footer>
