<header class="row panel">
  <div class="container">
    <a href="/" title="Go to main page" class="header-logo">
      <img src="./assets/logo.png"
           srcset="./assets/logo@2x.png 2x,
                 ./assets/logo@3x.png 3x"
           alt="VIDEO COURSE"
           width="137"
           height="32"
      />
    </a>
  </div>
  <section class="panel-right">
    <button class="panel-right-el btn ic-user btn-color-parent">
      User login
    </button>
    <button class="panel-right-el btn ic-exit btn-color-parent">
      Log off
    </button>
  </section>
</header>
