/* You can add global styles to this file, and also import other style files */
@import '~reset-css'
@import '~normalize.css'

$fa-font-path: "~font-awesome/fonts" !default
@import "~font-awesome/scss/font-awesome"

@font-face
  font-family: 'SourceSansPro'
  src: url('./assets/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'SourceSansPro'
  src: url('./assets/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

html,
body
  height: 100%

app-root
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100%
  box-sizing: border-box

body
  --dark-night-color: #2c2f3c
  --dark-sky-color: #414452
  --good-night-color: #525462
  --blue-sky-color: #33b1e3
  --loft-sofa-color: #577ce6
  --green-grass-color: #9bc837
  --like-snow-color: #ffffff
  --like-steel-color: #868996
  --white-steel-color: #b9bdce
  --dirty-snow-color: #d9dbe3
  --like-silver-car: #c0c3ce
  --fog-smog-color: #f2f3f7
  --opacity-star-color: rgba(234, 233, 218, 1)
  --opacity-sun-color: rgba(36, 230, 110, 0.15)
  --opacity-sky-color: rgb(51, 177, 227, 0.15)
  --opacity-light-color: rgba(18, 21, 35, 0.08)

  --const-size: 1rem


body
  font-size: 14px
  font-family: SourceSansPro, sans-serif
  background-color: var(--fog-smog-color)

// Grid
.row
  padding-left: 1rem
  padding-right: 1rem

.container
  //outline: 1px solid rgba(200, 200, 200, .5)

@media (min-width: 1280px)
  .container
    width: 1280px
    margin: 0 auto

// Buttons
.btn
  border-width: 0
  background-color: var(--blue-sky-color)
  padding-left: var(--const-size)
  padding-right: var(--const-size)
  border-radius: 3px
  font-weight: 600
  font-size: .857rem
  font-stretch: normal
  font-style: normal
  line-height: 1.4rem
  letter-spacing: -0.09px
  color: var(--like-snow-color)
  position: relative
  transition: opacity .3s ease-out

.btn-a
  line-height: 2.57
  letter-spacing: -0.1px

.btn-color-parent
  background-color: inherit

.btn-color-a
  background-color: var(--green-grass-color)

.btn-color-b
  background-color: inherit
  color: var(--white-steel-color)

.btn:hover
  cursor: pointer
  opacity: .8

.btn-ic
  margin-right: .2rem

.btn-text
  padding-left: var(--const-size)
  font-size: 1.286rem
  font-weight: 600
  font-stretch: normal
  font-style: normal
  line-height: 2.56rem
  letter-spacing: -0.13px
  color: var(--like-snow-color)

.btn-text:before
  content: none

.btn-not
  cursor: default !important

.btn-not:hover
  opacity: unset

// Panels
.panel
  background-color: var(--dark-sky-color)
  min-height: 64px
  display: flex
  align-items: center

.panel-color-a
  background-color: var(--like-snow-color)

.panel-right
  position: absolute
  right: 1rem

.panel-right-el
  margin: 0 .5rem

.panel-right-el:first-child
  margin-left: unset

.panel-right-el:last-child
  margin-right: unset

// Inputs
.search-input-wrap
  position: relative
  width: 100%
  display: inline-block
  font-size: 1.286rem
  line-height: 2.56rem
  font-weight: normal
  font-stretch: normal
  font-style: normal
  letter-spacing: normal
  color: var(--good-night-color)

.input-txt
  box-sizing: border-box
  display: inline-block
  width: 100%
  font-size: inherit
  line-height: inherit
  border-radius: 3px
  border: solid 1px var(--dirty-snow-color)
  background-color: var(--like-snow-color)
  color: inherit
  font-weight: inherit
  font-stretch: inherit
  font-style: inherit
  letter-spacing: inherit
  padding-left: calc(var(--const-size) * 3)

.input-ic
  position: absolute
  top: 0
  bottom: 0
  left: 0
  text-align: center
  font-size: inherit
  line-height: inherit
  color: var(--like-steel-color)
  font-weight: inherit
  font-stretch: inherit
  font-style: inherit
  letter-spacing: inherit
  width: calc(var(--const-size) * 3)

.input-ic-reverse
  transform: scale(-1, 1)

.input-txt-paper
  padding-left: 1.5rem

.search-input-required
  color: var(--dirty-snow-color)
  cursor: default

label
  cursor: pointer

// Headers
h3
  cursor: default
  font-size: 1.75rem
  font-weight: 600
  font-stretch: normal
  font-style: normal
  line-height: 1.25rem
  letter-spacing: normal
  color: var(--dark-night-color)

// Text
a
  color: var(--loft-sofa-color)
  font-size: .857rem
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.5rem
  letter-spacing: 0.19px
  transition: opacity .3s ease-out

a:hover
  opacity: .7

p
  cursor: default
  font-size: 1rem
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.71rem
  letter-spacing: normal
  color: var(--good-night-color)

.article
  --article-color: var(--opacity-light-color)

  border-radius: 8px
  box-shadow: 0 1px 24px 0 var(--article-color)
  border: 4px solid var(--article-color)
  background-color: var(--like-snow-color)
  padding: 2rem 1.7rem

.article-top-rated
  background-color: var(--opacity-star-color)