<article
  class="article item"
  [ngClass]="{'article-top-rated': item.TopRated}"
>
  <div class="item-main">
    <div class="item-main-header">
      <h3>{{item.Title | uppercase}}
        <i *ngIf="item.TopRated" class="fa btn-ic fa-star"></i>
      </h3>
      <div class="item-main-header-meta">
        <span class="btn btn-not btn-color-b">
          <i class="fa btn-ic fa-clock-o"></i>
          {{item.Duration | duration}}
        </span>
        <span class="btn btn-not btn-color-b">
          <i class="fa btn-ic fa-calendar"></i>
          {{item.CreationDate | date: 'd LLL, yyyy'}}
        </span>
      </div>
    </div>
    <p class="item-main-description">
      {{item.Description}}
    </p>
  </div>

  <div class="item-control">
    <button
      id="item-control-el-edit"
      class="btn item-control-el"
      (click)="edit()"
    >
      <i class="fa btn-ic fa-pencil"></i>
      Edit
    </button>
    <button
      id="item-control-el-delete"
      class="btn item-control-el"
      (click)="delete()"
    >
      <i class="fa btn-ic fa-trash"></i>
      Delete
    </button>
  </div>

</article>
